:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --light-black: #333333;
  --basic-black: #000000;
  --raiting-color: #f2f2f2;
  --raiting-text-color: #666666;
  --light-gray: #cacaca;
  --footer-color: rgba(255, 255, 255, 0.9);
  --border-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.page {
  max-height: 2762px;
  min-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--light-black);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  min-height: 100%;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--basic-white);
  align-content: start;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

.header-nav {
  display: block;
  align-items: center;
}
li.header-nav-li {
  min-height: 56px;
  width: 236px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}
.header-nav-li:nth-child(2) {
  margin-right: 236px;
}

.main-logo {
  position: absolute;
  left: calc(50% - 69px);
  top: 0;
  z-index: 2;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation,
.list-footer {
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
  line-height: 26px;
}

.description-heading {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.causes {
  line-height: 26px;
  text-align: center;
  margin-bottom: 51.5px;
}

.ol-causes {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  padding: 0;
}
.causes-li:nth-of-type(-n + 2) {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.causes-li-help {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--basic-blue);
  min-width: 400px;
  flex: 1;
}
.causes-img-help {
  flex: 2;
}
.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
.features-li {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  width: 400px;
  flex-basis: 400px;
  min-height: 330px;
  text-align: center;
  margin-top: 40px;
}
.causes-li:nth-of-type(n + 3) {
  flex-basis: 400px;
}

.causes-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-li:first-of-type .causes-heading::before {
  content: url(../img/icon-1.svg);
  display: block;
  width: 75px;
  height: 72px;
  margin-bottom: 28px;
}
.features-li:nth-of-type(2) .causes-heading::before {
  content: url(../img/icon-3.svg);
  display: block;
  width: 75px;
  height: 70px;
  margin-bottom: 29.04px;
}
.features-li:last-of-type .causes-heading::before {
  content: url(../img/icon-2.svg);
  display: block;
  width: 64px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.causes-li:first-of-type p.causes-heading {
  margin-top: 47px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.numbers {
  display: block;
  width: 100px;
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
}
.causes-li:first-of-type p.causes-text {
  display: block;
  width: 300px;
  margin-right: 50px;
  margin-left: 50px;
}
.causes-li:nth-of-type(2) p.causes-text {
  display: block;
  width: 301px;
  margin-right: 50px;
  margin-left: 50px;
}
.causes-li:nth-of-type(2) p.causes-heading {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 150px;
}

.causes-li:nth-of-type(n + 3) p.causes-heading {
  margin-top: 47px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 119px;
}
.causes-li:nth-of-type(n + 3) p.causes-text {
  display: block;
  width: 260px;
  margin-top: 23px;
  margin-bottom: 54px;
  margin-left: auto;
  margin-right: auto;
}

.causes-li:nth-of-type(n + 3) {
  background-color: var(--basic-gray);
  min-height: 256px;
}

.text-white {
  color: var(--basic-white);
}

.causes-li {
  list-style: none;
  text-align: center;
}

.interest-title {
  text-align: center;
  margin-top: 58px;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}
.interest-text {
  text-align: center;
}

.interest-btn {
  width: 568px;
  min-height: 86px;
  text-align: center;
  background-color: var(--basic-brown);
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  margin: 0 316px;
  margin-top: 51px;
}

.btn {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: inherit;
  text-align: center;
}

.interest-form {
  position: absolute;
  box-sizing: border-box;
  top: 2215px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  width: 568px;
  min-height: 395px;
  margin: 0 316px;
  margin-top: -15px;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.date-start,
.date-end,
.people,
.btn-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 458px;
}
.people {
  padding-bottom: 54px;
}

.date-end {
  padding-top: 29px;
  padding-bottom: 30px;
}
.interest-form-date {
  width: 330px;
  border: none;
  min-height: 38px;
  background-color: var(--raiting-color);
  padding: 6px 13px;
  box-sizing: border-box;
}

.interest-calendar {
  position: absolute;
  left: 480px;
  background-image: url(../img/calendar.svg);
  width: 21px;
  height: 23px;
  border: none;
}
.text-adults {
  box-sizing: border-box;
  display: block;
  width: 101px;
  min-height: 26px;
  margin-right: 15px;
}
.text-children {
  display: block;
  width: 68px;
  height: 26px;
}

.interest-btn-minus,
.interest-btn-plus,
.amount {
  box-sizing: border-box;
  width: 38px;
  min-height: 38px;
  border: none;
  background-color: var(--raiting-color);
}
.amount {
  margin-left: -5px;
  margin-right: -5px;
  text-align: center;
}

.counter {
  box-sizing: content-box;
  min-width: 114px;
  justify-content: start;
}
.counter:nth-of-type(1) {
  margin-left: 11px;
  margin-right: 53px;
}
.counter:nth-of-type(2) {
  margin-left: -3px;
}

.btn-search {
  border: none;
  background-color: var(--basic-blue);
  text-align: center;
  min-height: 58px;
  justify-content: center;
}

.interest-form-text,
.interest-form-date,
.amount {
  font-weight: bold;
  line-height: 26px;
  text-transform: inherit;
}
.footer {
  display: flex;
  width: 1200px;
  height: 120px;
  text-align: center;
  padding: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}
.footer.index {
  top: 2670px;
}
.footer.catalog {
  background-color: var(--basic-white);
  top: 857px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.footer p.footer-text:nth-of-type(1) {
  display: block;
  width: 166px;
  min-height: 26px;
  margin-top: 23px;
  margin-left: 153px;
  margin-bottom: 9px;
}
.footer p.footer-text:nth-of-type(2) {
  display: block;
  width: 251px;
  min-height: 26px;
  margin-top: 9px;
  margin-left: 111px;
  margin-bottom: 36px;
}

.footer-information {
  box-sizing: border-box;
}
.footer-social {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 150px;
  margin-left: 163px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  min-height: 46px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.list-footer {
  width: 46px;
}

.list-footer:nth-of-type(1) .footer-link-social::after {
  content: url(../img/twitter.svg);

  width: 17px;
  height: 15px;
}
.list-footer:nth-of-type(2) .footer-link-social::after {
  content: url(../img/fb-icon.svg);

  width: 17px;
  height: 15px;
}

.list-footer:nth-of-type(3) .footer-link-social::after {
  content: url(../img/youtube.svg);

  width: 17px;
  height: 15px;
}

.footer-text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.footer-development {
  display: flex;
  margin-left: 190px;
}

.development {
  display: block;
  width: 115px;
  min-height: 41px;
  line-height: 26px;
  color: var(--basic-black);
  margin-top: 38px;
  margin-right: 138px;
  margin-bottom: 41px;
}
.development-text {
  display: block;
  width: 74px;
  min-height: 26px;
  margin-top: 49px;
  margin-right: 8px;
  margin-bottom: 45px;
}
.footer-link {
  color: var(--basic-black);
  text-decoration: none;
}
.social {
  width: 150px;
}
.footer-link-social {
  display: block;
  box-sizing: border-box;
  background-color: var(--basic-blue);
  width: 46px;
  height: 46px;
  color: var(--basic-black);
  padding-top: 16px;
}

.list-footer:nth-of-type(2) .footer-link-social {
  padding-top: 13px;
}

.filter {
  background-color: var(--basic-blue);
  background-image: url(../img/background_photo.jpg);
  background-position: center;
  width: 1200px;
  min-height: 217px;
}
.filter-form {
  display: flex;
}
.filter-infrastructure,
.filter-type,
.filter-price {
  padding: 0;
  border: none;
  text-align: left;
}
.ul-infrastructure {
  padding: 0;
}
.li-infrastructure {
  padding-left: 72px;
  padding-bottom: 23px;
}

.filter-name-infrastructure {
  padding-top: 26.5px;
  padding-left: 72px;
  width: 135px;
  min-height: 21px;
}
.filter-type {
  margin-left: 119px;
}
.filter-name-type {
  padding-top: 26.5px;
  margin-bottom: 24.5px;
}
.ul-type {
  margin: 0;
  padding: 0;
}

.filter-parameter-name {
  font-size: 16px;
  text-align: center;
}

.filter-li {
  list-style: none;
}

.filter-price {
  margin-left: 347px;
}
.range-filter {
  width: 317px;
  min-height: 36px;
  margin-top: 49px;
  margin-bottom: 11px;
  background-color: #666666;
}
.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 39px;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  width: 317px;
  min-height: 36px;
}
.price-controls input {
  width: 80px;
  text-align: center;
  border: none;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.filter-btn {
  box-sizing: border-box;
  width: 137px;
  min-height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: transparent;
}

.sort {
  display: flex;
  box-sizing: border-box;
  height: 86px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.sort-amount {
  display: block;
  width: 117px;
  min-height: 26px;
  margin-top: 29px;
  margin-right: 46px;
  margin-bottom: 31px;
  margin-left: 37px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sort-heading {
  display: block;
  width: 75px;
  min-height: 18px;
  margin-top: 31px;
  margin-right: 40px;
  margin-bottom: 37px;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}
.ul-sort {
  display: flex;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 36px;
}

.sort-li {
  list-style: none;
}
.sort-li:first-of-type {
  display: block;
  width: 49px;
  margin-right: 32px;
}
.sort-li:nth-of-type(2) {
  display: block;
  width: 49px;
  margin-right: 33px;
}
.sort-li:nth-of-type(3) {
  display: block;
  width: 76px;
}
.sort-li:nth-of-type(4) {
  margin-left: 503px;
  margin-right: 12px;
}
.sort-li:nth-of-type(4)::before {
  content: url(../img/icon-up-dir.svg);
  width: 11px;
  height: 10px;
}
.sort-li:nth-of-type(4):hover.sort-li:nth-of-type(4)::before {
  content: url(../img/icon-up-dir-hover.svg);
}
.sort-li:nth-of-type(4):active.sort-li:nth-of-type(4)::before {
  content: url(../img/icon-up-dir-active.svg);
}
.sort-li:nth-of-type(5)::before {
  content: url(../img/icon-down-dir.svg);
  width: 11px;
  height: 10px;
  margin-right: 73px;
}
.sort-li:nth-of-type(5):hover.sort-li:nth-of-type(5)::before {
  content: url(../img/icon-down-dir-hover.svg);
}
.sort-li:nth-of-type(5):active.sort-li:nth-of-type(5)::before {
  content: url(../img/icon-down-dir-active.svg);
}
.sort-li a {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed var(--basic-blue);
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort-li a:hover,
.sort a:focus {
  border-bottom: 1px dashed var(--basic-blue);
  color: var(--basic-blue);
}

.sort-li a:active {
  color: var(--basic-black);
  border-bottom: none;
}

a.sort-arrow {
  color: var(--light-gray);
  border-bottom: none;
}

a.sort-arrow:hover,
a.sort-arrow:focus {
  color: var(--basic-black);
  border-bottom: none;
}

a.sort-arrow:active {
  color: var(--basic-blue);
  border-bottom: none;
}
.search-article {
  display: flex;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 73px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
}
.search-build-name {
  margin-top: -7px;
  margin-bottom: 7px;
  margin-left: 29px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.search-info {
  display: flex;
  width: 178px;
  margin-left: 29px;
  justify-content: space-between;
}
.search-info p {
  margin-top: 0;
  margin-bottom: 15.5px;
}
a.search-link-text:first-child {
  margin-top: 0;
  margin-left: 29px;
  margin-bottom: 15.5px;
}
.search-link-text {
  color: var(--basic-white);
  text-align: center;
}
.details {
  display: inline-block;
  margin-top: 0;
  margin-right: 6px;
  margin-left: 29px;
  width: 110px;
  min-height: 24px;
  padding-top: 3px;
  background-color: var(--basic-blue);
}
.booking {
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  width: 142px;
  min-height: 24px;
  padding-top: 3px;
  background-color: var(--basic-brown);
}
.search-raiting {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 543px;
}
.search-raiting p:first-child {
  text-align: right;
  margin-top: 0;
  margin-bottom: 47px;
}
.four_stars {
  display: block;
  height: 17px;
  width: 89px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}
.three_stars {
  display: block;
  height: 17px;
  width: 64px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}
.two_stars {
  display: block;
  height: 17px;
  width: 40px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}
.raiting {
  display: inline-block;
  text-align: center;
  width: 110px;
  height: 24px;
  padding-top: 3px;
  color: var(--raiting-text-color);
  background-color: var(--raiting-color);
  margin-top: 0;
}

.intro-welcome {
  padding-top: 77.35px;
  padding-right: 371.96px;
  padding-bottom: 80.76px;
  padding-left: 371.38px;
}

.intro-image {
  display: flex;
  width: 1200px;
  background-color: var(--basic-blue);
  background-image: url(../img/background_photo.jpg);
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 42px;
}

.intro-image::after {
  content: url(../img/intro-mask.svg);
  position: absolute;
  padding-top: 452px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
  mix-blend-mode: normal;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.search-link-text a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search-build-name:hover,
.search-build-name:focus {
  color: var(--basic-blue);
}

.search-build-name:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.btn-searh:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}
