:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --light-black: #333333;
  --basic-black: #000000;
  --raiting-color: #f2f2f2;
  --raiting-text-color: #666666;
  --footer-color: rgba(255, 255, 255, 0.9);
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--light-black);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.site-navigation,
.list-footer {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: bold;
  line-height: 26px;
}

h1.description-heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.causes {
  line-height: 26px;
}

.interest-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.btn {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: inherit;
}

.interest-form-text,
.interest-form-date,
.amount {
  font-weight: bold;
  line-height: 26px;
  text-transform: inherit;
}

.footer-text {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.footer-link {
  color: var(--basic-black);
}

.development {
  line-height: 26px;
  color: var(--basic-black);
}

.search-build-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.search-link-text {
  color: var(--basic-white);
}

.raiting {
  color: var(--raiting-text-color);
}

.intro-image-color {
  background-color: cadetblue;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
  mix-blend-mode: normal;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.search-link-text a:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.search-build-name:hover,
.search-build-name:focus {
  color: var(--basic-blue);
}

.search-build-name:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.btn-searh:active {
  mix-blend-mode: normal;
  opacity: 0.3;
}
